:root {
    --brand-color: #FED136;
    --brand-font: 'Courgette', cursive;
    --main-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--main-font);
}

/*  NAVIGATION */

nav {
    display: block;
}

.navbar {
    background: #27262B;
}

.navbar-dark .navbar-brand {
    color: #fff;
}

a.navbar-brand {
    font-family: var(--brand-font);
    color: var(--brand-color) !important;
    font-size: 25px;
}

/*  BANNER  */

.banner-heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-heading > h1 {
    font-family: var(--brand-font);
    color: var(--brand-color);
}

.banner-heading > a {
    background: var(--brand-color);
}

/* SERVICES */

#services, #portfolio, #about, #team, #logos, #contact {
    padding: 100px 0;
}

#services > p, #portfolio > p, #about > p, #team > p {
    color: var(--brand-color);
    font-family: var(--brand-font);
}


/* ICONS */

.icon-box {
    width: 120px;
    height: 120px;
    background: var(--brand-color);
}

.icon-box:hover {
    background: white;
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.icon-box:hover > .fas {
    color: var(--brand-color) !important;
}

/* PORTFOLIO */

#portfolio {
  background-color: #eee;
  text-align: center;
}

section h2.section-heading {
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}

section h3.section-subheading {
  font-size: 1em;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 4.7em;
}

.section-subheading {
  line-height: 1.5em;
  max-width: 50em;
  margin: 0 auto;
  text-indent: 1.5em;
}


.portfolio-item {
  margin: 0 0 15px;
  right: 0
}

.portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto
}

.portfolio-hover {
  cursor: pointer;
  background: var(--brand-color);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease .5s;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s
}

.portfolio-hover:hover {
  opacity: 0.8;
}

.portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #fff
}

.portfolio-hover-content i {
  margin-top: -12px
}

/* MODALS */

.modal-btn {
    background: var(--brand-color);
}

/* CONTACT */

#contact {
    background-image: url(images/map-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

