:root {
    --brand-color: #FED136;
    --brand-font: 'Courgette', cursive;
    --main-font: 'Roboto', sans-serif;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}


body {
    font-family: var(--main-font);
}

/*  NAVIGATION */

nav {
    display: block;
}

.navbar {
    background: #27262B;
}

.navbar-dark .navbar-brand {
    color: #fff;
}
a.navbar-brand {
    font-family: var(--brand-font);
    color: var(--brand-color) !important;
    font-size: 25px;
}

/*  BANNER  */

.banner-heading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-heading > h1 {
    font-family: var(--brand-font);
    color: var(--brand-color);
}

.banner-heading > a {
    background: var(--brand-color);
}

/* SERVICES */

#services, #portfolio, #about, #team, #logos, #contact {
    padding: 100px 0;
}

#services > p, #portfolio > p, #about > p, #team > p {
    color: var(--brand-color);
    font-family: var(--brand-font);
}



/* ICONS */

.icon-box {
    width: 120px;
    height: 120px;
    background: var(--brand-color);
}

.icon-box:hover {
    background: white;
    border: 2px solid var(--brand-color);
    cursor: pointer;
}

.icon-box:hover > .fas {
    color: var(--brand-color) !important;
}

.fa-4x {
    font-size: 4em;
}

/* PORTFOLIO */

.hover-box {
    position: relative;
    cursor: pointer;
}

.hover-box > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.fa-plus:before {
    content: "\f067";
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}

/* MODALS */

.modal-btn {
    background: var(--brand-color);
}

/* CONTACT */

#contact {
    background-image: url(images/map-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
